$rentry: #f03e26;

.help-guide {
  // have some duplication in .help-guide-top-wrapper .title
  &-component {
    &-title {
      font-size: 1.8em;
      text-align: center;
      font-weight: bold;
      letter-spacing: .1em;
      line-height: 2.3em;
    }

    &-subtitle {
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: .2em;
      margin: 2.5em 0;
    }

    // "U"nder line
    &-u {
      border-bottom: solid 3px $rentry;
    }

    &-btnbox {
      margin: 5em 0;
    }

    &-btn {
      display: block;
      width: 20em;
      font-size: .9em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;

      &.btn-coral {
        background-color: $rentry;
        color: white;
      }
    }
  } // &-conponent end

  &-header {
    display: flex;
    padding: 0.5em;

    &-logo {
      a {
        display: inline-block;
        width: 12em;
        height: 6em;
        position: relative;
      }

      img {
        width: 75%;
        height: 68%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    &-search {
      display: inline-block;
      position: relative;
      width: 24em;

      .input-group {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  } // &-header end

  &-top {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 22em;
    background-image: url(../imgs/top-background.svg);

    &-wrapper {
      // if modify top: xx%, then can remove tranform ?
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: center;
      transform: translateY(-65%);

      .title {
        font-weight: bold;
        letter-spacing: .1em;
      }

      .subtitle {
        font-size: 1.2em;
        margin-top: 3em;
        line-height: 2em;
        letter-spacing: .1em;
        font-weight: bold;
      }
    }
  } // &-top end

  &-concept {
    margin-top: 8em;
    margin-bottom: 8em;

    &-items {
      &-wrapper {
        text-align: center;

        // imgs are not same size
        // so set absolute size in img tag or
        // modify .png size
        img {
          margin: 0 auto;
          width: 5em;
          height: 6.1em;
        }

        .title {
          font-size: 1.2em;
          font-weight: bold;
        }
        
        .content {
          margin: 1.2em;
          line-height: 1.8em;
        }
      }
    }
  } // &-concept end

  &-order {
    background-color: #fac7c2;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 3em;

    &-items {
      margin-top: 8em;

      &-wrapper {
        img {
          margin: 0 auto;
          width: 13em;
          height: 13em;
          border: solid .3em white;
        }

        .title {
          text-align: center;
          font-size: 1.3em;
          font-weight: bold;
        }

        .content {
          margin: 1.2em;
          text-align: justify;
          line-height: 1.8em;
        }

        .subcontent {
          margin: 1.2em;
          font-size: .9em;
          text-align: justify;
        }
      }
    }
  } // &-order end

  &-usage {
    margin-top: 4em;
    margin-bottom: 4em;
    padding-left: 3em;
    padding: 3em;

    &-items {
      margin-top: 5em;

      &-wrapper {
        .inner {
          margin-left: .5em;
          margin-right: .5em;
          // height: 25em;
          padding-bottom: 1.3em;
          box-shadow: 0 5px 7px 1px rgba(179, 179, 179, 1);
        }

        .img-fluid {
          max-width: 100%;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }

        .description {
          padding-left: 2em;
          padding-right: 2em;

          .title {
            margin-top: 2em;
            text-align: center;
            font-size: 1.3em;
            font-weight: bold;
          }

          .content {
            margin-top: 2em;
            padding-left: 1.2em;
            padding-right: 1.2em;
            text-align: justify;
            line-height: 1.8em;
          }
        }
      }
    }
  } // &-usage end
}
